*
!*/
!.gitignore

!*alacritty/**
!*autorandr/**
!*btop/**
!*dunst/**
!*fish/**
!*flameshot/**
!*gtk-*.0/**
*gtkfilechooser.ini
!*htop/**
!*i3/**
!*micro/settings.json**
!*nitrogen/**
!*picom/**
!*polybar/**
!*rofi/**
!*rsync/**
!*arch/**
!*fcitx5/**
*fcitx5/conf/cached_layouts
*fcitx5/conf/notifications.conf
*fcitx5/profile
!*starship*
!*etc/**
!*backup.sh