*
!*/
!.gitignore

!/apps/**
!/bin/**
!/Code/User/keybindings.json
!/Code/User/settings.json
!/etc/**
!/fish/conf.d/alias.fish
!/fish/conf.d/environement.fish
!/fish/conf.d/keybindings.fish
!/fish/conf.d/lf-icons.fish
!/fish/config.fish
!/fish/fish_plugins
!/fish/functions/custom/**
!/git/**
!/gnome/**
!/languagetool/**
!/nautilus/.hidden
!/nvim/**
/nvim/plugin/packer_compiled.lua
!/README.*
!/rsync/**
!/screenshot.*
!/systemd/user/*
!.vscode/settings.json
!/wallpaper*.*