[Unit]
Description=LanguageTool

[Service]
ExecStart=languagetool --http --config /home/rom1/.config/languagetool/server.properties
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
